body{
    width: 930px;
    font-family: "inter" sans-serif;
}

main{
    display: flex;
    width: 940px;
}
.sectionUno, .sectionDos{
    width: 100%;
}

.input-text{
    width: 50%;
    margin-top: 90px;
}

.input-text-area{
    width: 50%;
    margin-top: 90px;
    position: relative;
    margin: left 50%;
}

